a:hover{
    text-decoration: none;
}
.login-hr {
    text-align: center;
    height: 1px;
    background: #ddd;
    margin: 20px 0;
    position: relative;
}
.login-hr::before {
    position: absolute;
    content: 'OR';
    top: -10px;
    background: #fff;
    width: 49px;
    left: 41%;
}
.category-box {
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 20px;
}
.category-box a{
    color: #333;
}
.category-box a:hover {
    text-decoration: none !important;
    color: #333;
}
.category-box i {
    font-size: 29px;
    padding: 10px;
    display: inline-block;
    border-right: 1px solid #ccc;
}
.category-box span {
    position: absolute;
    top: 16px;
    padding-left: 14px;
    text-align: left;
    width: 75%;
}
.carousel-indicators li {
    height: 7px;
    border: 2px solid #3AC47D !important;
}
.carousel-indicators .active {
   background: #3AC47D;
}
.scrollbar-sidebar, .scrollbar-container {
    overflow-y: auto;
}
.vertical-nav-menu i.metismenu-state-icon, .vertical-nav-menu i.metismenu-icon {
    color: #666;
}
.fix{
    display: block;
    overflow: hidden;
}
.category-title {
    background: #fff;
    padding: 8px 15px;
    border-left: 4px solid #555;
    border-radius: 4px;
    border-right: 4px solid #555;
    margin-bottom: 15px;
    border-top: 1px solid rgba(78,84,200,0.15);
    border-bottom: 1px solid rgba(78,84,200,0.15);
}
.category-title h2 {
    font-size: 15px;
    margin-bottom: 0;
    float: left;
    font-weight: 600;
    line-height: 31px;
}
.category-title a {
    float: right;
    padding: 5px 8px;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
}
.category-title a:hover {
    color: #555;
    text-decoration: none;
}
.category-title a i{
    position: relative;
    top: 2px;
}
.product-grid .card-title {
    font-weight: 500;
    text-transform: capitalize;
    font-size: 12px;
    height: 38px;
}
.product-grid .pro-weight {
    margin-bottom: 8px;
    display: block;
}
.product-grid .card-subtitle {
    color: #666;
    font-weight: 600;
    font-size: 14px;
}
.add-to-cart-btn button{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.row.product-grid .card-body {
    padding-bottom: 0;
    padding-top: 5px;
}
.subcategory {
    text-align: center;
}
.subcategory img {
    max-width: 100%;
    height: auto;
}
.subcategory a{
    color: #222;
}
.cart-plus-minus {
    border: 1px solid #b81f44;
    color: #fff;
    background: #d92550;
    font-weight: 700;
    font-size: 16px;
    width: 42px;
    line-height: 22px;
    padding-top: 1px;
    padding-bottom: 4px;
    float: left;
    position: absolute;
    cursor: pointer;
}
.row.product-grid .card-img-top {
    height: 185px;
}
.btn-plus-minus input {
    border: 1px solid #b81f44;
    padding: 3px;
    text-align: center;
    background: #b81f44;
    color: #fff;
    width: 100%;
    float: left;
}
.btn-plus-minus {
    position: relative;
}
.cart-plus-minus.minus {
    left: 0;
}
.cart-plus-minus.plus {
    right: 0;
}
.row.product-grid {
    padding-left: 5px;
    padding-right: 5px;
}
.row.product-grid .col-md-2.col-sm-6 {
    padding-left: 10px;
    padding-right: 10px;
}
.custom-qty {
    display: inline-flex;
}
.increase.items, .reduced.items {
    background: #ddd;
    border: 1px solid #ddd;
    color: #222;
    padding: 8px 10px 7px;
    float: left;
    cursor: pointer;
}
.input-text.qty {
    border: 1px solid #ddd;
    max-width: 50px;
    padding: 4px 13px;
    float: left;
    text-align: center;
    margin: 0 -1px;
}
.email i:before {
    font-size: 13px;
    color: #666;
    height: 35px;
    width: 35px;
    line-height: 32px;
    display: inline-block;
    font-style: normal;
    text-align: center;
    margin-right: 5px;
    margin-bottom: 8px;
    border-radius: 30px;
    border: 1px solid #eaeaea;
    border-radius: 8px;
    background: #fafafa;
}
.footer-content .address {
    line-height: 1.5em;
}
.address i {
    float: left;
}
.address i:before {
    font-size: 15px;
    color: #666;
    height: 35px;
    width: 35px;
    line-height: 32px;
    display: inline-block;
    font-style: normal;
    text-align: center;
    margin-right: 5px;
    margin-bottom: 8px;
    border-radius: 8px;
    border: 1px solid #eaeaea;
    background: #fafafa;
}
.footer-content p {
    display: inline-block;
    padding-left: 5px;
    width: 80%;
}
.widget ul {
    list-style: none;
    padding-left: 0;
}
.widget ul li a{
    color: #333;
}
.single-earner {
    width: 14.7%;
    float: left;
    position: relative;
    text-align: center;
    transition: all 0.4s ease;
    border: 1px solid #ddd;
    background: #EFF4F4;
    padding: 10px;
    margin: 0 10px;
}
.single-earner img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid #ddd;
}
.single-earner p {
    margin: 5px 0;
}
.single-earner h4 {
    font-size: 16px;
    margin-top: 8px;
}
.input-group.login {
    width: 100% !important;
}
.search-wrapper.active {
    width: auto !important;
}
.visible-xs{
    display: none;
}
@media (max-width: 767px) {
    .category-box h3 {
      padding: 7px 20px;
      font-size: 14px;
    }
    .sidebar-mobile-open .app-sidebar {
        z-index: 99;
    }
    .row.product-grid .col-md-2.col-sm-6 {
        width: 50%;
    }
    .row.product-cat-grid .col-md-3.col-sm-6 {
        width: 50%;
    }
    .single-earner {
        width: 46%;
        margin: 5px;
        margin-bottom: 15px;
    }
    .single-earner h4 {
        font-size: 13px;
    }
    .app-header .app-header__logo {
        display: none !important;
    }
    .visible-xs{
        display: block;
    }
    .hidden-xs{
        display: none;
    }
    .header-btn-lg.pr-0.nn {
        margin: 0 !important;
        padding: 0 !important;
    }
    .search-wrapper.active .input-holder {
        width: 270px;
        border-radius: 50px;
        background: rgba(0,0,0,0.05);
        transition: all 0.5s cubic-bezier(0, 0.105, 0.035, 1.57);
    }
}
